<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>TripPlanner</title>

  <link href="/static/backend/css/vendor/bootstrap.min.css" rel="stylesheet">
  <link href="/static/backend/css/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">TripPlanner</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#loginModal">Login</a>
        <a class="nav-item nav-link" href="#">About</a>
        <a class="nav-item nav-link" href="#">Contact</a>
      </div>
    </div>
  </nav>
  <div class="content-wrapper">

  <!--Hello {{ username }}<br>
  {% for trip in trips %}
  {{ trip.name }}
  {% for destination in trip.destinations %}
  {{ destination.city }}
  {% endfor %}
  {% empty %}
  You have no trips.
  {% endfor %}-->
  <div class="maf">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <div class="container p-2 pt-4">
      <form method="post">
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <label for="departure-from">Name:</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" id="departure-from" name="name">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <label for="departure-from">Departure from:</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" id="departure-from" name="departure-from">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <label>Departure date:</label>
            </div>
            <div class="col-3">
              <input type="number" class="form-control" id="departure-from" name="departure-year" placeholder="Year">
            </div>
            <div class="col-3">
              <input type="number" class="form-control" id="departure-from" name="departure-month" placeholder="Month">
            </div>
            <div class="col-2">
              <input type="number" class="form-control" id="departure-from" name="departure-day" placeholder="Day">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <label>Arrival date:</label>
            </div>
            <div class="col-3">
              <input type="number" class="form-control" id="departure-from" name="arrival-year" placeholder="Year">
            </div>
            <div class="col-3">
              <input type="number" class="form-control" id="departure-from" name="arrival-month" placeholder="Month">
            </div>
            <div class="col-2">
              <input type="number" class="form-control" id="departure-from" name="arrival-day" placeholder="Day">
            </div>
          </div>
        </div>
        <div id="destination-container">
          <div class="form-group">
            <div class="row">
              <div class="col-4">
                <label for="destination-1">Destination 1:</label>
              </div>
              <div class="col-4">
                <input type="text" class="form-control" id="destination-1" name="destinations[]">
              </div>
              <div class="col-2">
                <input type="number" class="form-control" id="destination-duration-1" name="destination-durations[]" placeholder="DUR">
              </div>
              <div class="col-2">
                <button class="btn btn-outline-danger">Delete</button>
              </div>
            </div>
          </div>
        </div>
        <a href="#" id="addDestination">+ Add destination</a>
        <button type="submit" class="btn btn-outline-primary">Plan it!</button>
      </form>
    </div>
  </div>
  <div class="map-container">
    <div id="map"></div>
  </div>
</div>
<script>
  function initMap() {
    var uluru = {lat: -25.363, lng: 131.044};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: uluru,
      styles: [{
        stylers: [{
          saturation: -100
        }]
      }],
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCw154iDc4QPDutxMAWdR9cYJAm3jB0vpU&callback=initMap">
</script>
<footer>
</footer>

<script src="/static/backend/js/vendor/jquery-3.2.1.min.js"></script>
<script src="/static/backend/js/vendor/bootstrap.min.js"></script>
<script src="/static/backend/js/main.js"></script>

</body>
</html>
