<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lol this is a login hehe</title>
</head>
<body>
    <form action="/site/addtrip" method="post">
        {% csrf_token %}
        <input name="trip_name" placeholder="trip name">
        <input name="cities[]" placeholder="city name">
        <input name="cities[]" placeholder="city name">
        <input name="cities[]" placeholder="city name">
        <input name="cities[]" placeholder="city name">
        <input name="cities[]" placeholder="city name">
        <input type="submit" value="OK">
    </form>
</body>
</html>
