{% extends 'backend/base.html' %}

{% block content %}
<div class="background">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="login p-4">
            <form action="/site/register" method="post">
                {% csrf_token %}
                <h1>Sign up</h1>
                {% for error in errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-12">
                            <input type="text" class="login-input" name="first_name" placeholder="First name">
                        </div>
                        <div class="col-12">
                            <input type="text" class="login-input" name="last_name" placeholder="Last name">
                        </div>
                        <div class="col-12">
                            <input type="text" class="login-input" name="username" placeholder="Username">
                        </div>
                        <div class="col-12">
                            <input type="text" class="login-input" name="email" placeholder="E-mail address">
                        </div>
                        <div class="col-12">
                            <input type="password" class="login-input" name="password" placeholder="Password">
                        </div>
                        <div class="col-12">
                            <input type="password" class="login-input" placeholder="Password again" name="password_again">
                        </div>
                    </div>
                </div>
                <button class="btn btn-outline-primary login-btn">Ok</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
