.navbar {
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed;
  z-index: 1;
  width: 100%;
  color: white;
}

.navbar-brand{
  color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: relative;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: relative;
}


.navbar-light .navbar-nav .nav-link::after {
    content:"";
    width: 70%;
    height: 2px;
    position: absolute;
    background-color: white;
    top: 100%;
    left: 15%;
}

.navbar-light .navbar-nav .nav-link::after {
    content:"";
    width: 0%;
    height: 2px;
    position: absolute;
    background-color: white;
    top: 100%;
    left: 15%;
}
.navbar-light .navbar-nav .nav-link:hover::after {
    content:"";
    width: 70%;
    height: 2px;
    position: absolute;
    background-color: white;
    top: 100%;
    left: 15%;
    transition: width .5s;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.background {
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/static/backend/img/airplane.jpeg");
}

.container {
  min-height: 100vh;
}

.bg-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.maf {
  float: left;
  display: inline-block;
  width: 40%;
  padding: 30px;
}

.map-container{
  float: right;
  display: inline-block;
  width: 60%;
  /*height: calc(100vh-56px);*/
}

#map {
  width: 100%;
  /*height: 100%;*/
  height: calc(100vh - 56px);
}

.login{
  color: #fff;
  border: 2px #fff solid;
  background-color: rgba(0, 0, 0, 0.35);
  width:50%;
}

.btn{
  border-radius: 0;
}
.login-btn{
  border-color: #fff;
  color: #fff;
}

.login-btn:hover{
  background-color: #fff;
  border-color: #fff;
  color: #fff;
}

.login-input{
  color: #fff;
  border-radius: 0px;
  border: none;

  background-color: transparent;
  border-bottom: 3px solid #fff;
  margin-bottom: 10px;
}

@-webkit-keyframes autofill {
    to {
        color: #fff;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
.login-input:focus {
  outline:none;
}

.login-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: rgba(255, 255, 255, 0.7);
}
.login-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.7);
}
.login-input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.7);
}
.login-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.7);
}
.login-input::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.7);
}

.content-wrapper {
  padding-top: 56px;
}

#addDestination {
  display:block;
  font-weight: bold;
}